body{
    background-color: rgb(4, 66, 83);
    color: aliceblue;
    width: 90vw;
}

#content-box {
    width: 850px;
    height: 650px;
    border: 3px solid rgb(255, 47, 255);
    border-radius: 10px;
    background-color: rgb(159, 151, 231);
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
}

#left {
width: 300px;
height: 450px;
background-color: crimson;
padding: 3px;
border: 3px solid yellowgreen;
margin: 3px;
border-radius: 10px;
position: relative;
margin-left: 25px;
margin-top: -585px;
}

#right{
width: 500px;
height: 450px;
background-color: rgb(225, 201, 206);
padding: 3px;
border: 3px solid hotpink;
margin: 3px;
border-radius: 10px;
position: relative;
margin-left: 360px;
margin-top: -465px;
}


#banner{
    background-color: darkviolet;
    padding: 3px;
    border: 3px;
    margin: 3px;
    border-radius: 10px;
    width: 850px;
}

#pose {
    color: hotpink;
    background-color:chartreuse;
    margin: 10px;
    padding:10px;
    border: 3px solid blue;
    border-radius: 10px;
}

#indvPose {
    background-color:chartreuse;
    padding: 3px;
    border: 3px;
    margin: 3px;
    margin-left: 25px;
}

#name {
    background-color:cyan;
    margin: 10px;
    padding:10px;
    border: 3px solid hotpink;
    color: hotpink;
    border-radius: 10px;
}

#meaning {
    background-color:rgb(200, 255, 0);
    margin: 10px;
    padding:10px;
    border: 3px solid hotpink;
    color: hotpink;
    border-radius: 10px;
}

#cue {
    background-color:darkgoldenrod;
    margin: 10px;
    padding:10px;
    border: 3px solid green;
    border-radius: 10px;
}

#benefits {
    background-color:hotpink;
    margin: 10px;
    padding:10px;
    border: 3px solid green;
    border-radius: 10px;
}

#videos {
    background-color: rgb(42, 16, 188);
    color: hotpink;
    padding:10px;
    border: 3px solid hotpink;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
    margin-left:20px;
    width: 825px;
}
