 
#category-board {
    background-color: #115ff4;
    height: 70vw;
    width: 90vw;
    justify-content: center;
}

#question-grid {
    background-color: #060ce9;
    padding: 2px;
}

 #question-grid tr td {
    cursor: pointer;
 }

 #button-wrapper {
    display: flex;
    justify-content: center;
 }
 
 .board {
    text-wrap: wrap;
    display: flex;
    justify-content: space-around;
 }

 .top-header {
text-align: center;
padding: 2px;;
 }

 .card-modal{
text-align: center;
text-wrap: wrap;
 }

thead {
    text-align: center;
    padding: 2px;
}


tbody {
    text-align: center;
    padding: 2px;
}

body {
    background-color: #115ff4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
 }


 /* #115ff4
 #060ce9
 #28a200
 #8d2ab5
 #74119c */

