#submission {
  width: 500px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #0c55c3;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


label {
  font-weight: bold;
  margin-bottom: 2rem\;
}

input,
textarea,
select {
  padding: 10px;
  border: 2px solid salmon;
  border-radius: 20px;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #004a99;
}